[submodule "desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional"]
	path = desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional
	url = git@github.com:lucianodacunha/desafios-de-codigo-aperfeicoe-sua-logica-e-pensamento-computacional.git
